.navbarContainer {
  /* background: #c31432;
  background: -webkit-linear-gradient(
    to right,
    #240b36,
    #c31432
  ); 
  background: linear-gradient(
    to right,
    #240b36,
    #c31432
  );  */
  /* background: #f12711;
  background: -webkit-linear-gradient(
    to right,
    #f12711,
    #f5af19
  ); 
  background: linear-gradient(
    to right,
    #f12711,
    #f5af19
  );  */
  background: #0f2027;
  background: -webkit-linear-gradient(to right, #2c5364, #203a43, #0f2027);
  background: linear-gradient(to right, #2c5364, #203a43, #0f2027);
}
